@import url('https://fonts.googleapis.com/css2?family=Rosario:wght@300;500&display=swap');
html{
  min-height: 100%;
}
body{
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  overflow-x: hidden;
  color: #446C8B;
  font-family: sans-serif;
  background-repeat: no-repeat;
}
.body-pages{
  background: #fdfffe;
  background-repeat: no-repeat;
  overflow-y: auto;
  font-family: sans-serif;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
}
header{
  background-repeat: no-repeat;
  padding: 75px 0px;
}

section{
  line-height: 200%;
  word-wrap: break-word;
  font-weight: bold;
  max-width: 500px;
  align-self: center;
  gap: 0px;
}

.buttons{
  box-sizing: border-box;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
  padding: 0px 10px;
}

button{
  border: none;
  font-family: 'Rosario', sans-serif;
  color: white;
  border-radius: 50px;
  padding: 5px 25px;
  background-color: #6e9173;
}

#option1, #option2, #quiz-button{
  background-color: #6e9173;
  color: #fdfffe;
}

h1{
  font-family: 'Rosario', sans-serif;
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 20px;
  text-transform: uppercase;
  margin: 0;
  color: #446C8B;
  mix-blend-mode: multiply;
}

h2{
  font-family: 'Rosario', sans-serif;
  letter-spacing: inherit;
  font-size: 18px;
  font-weight: 500;
}

h4{
  letter-spacing: 5px;
  line-height: 12px;
}

p{
  font-size: 0.8rem;
  text-align: justify;
  font-weight: 200;
  line-height: 250%;
  letter-spacing: 2px;
  color: #366284;
}
#quiz-start-section > p{
  color: #366284;
}
/* Navigation */

nav{
  padding: 10px 40px;
}

.nav-ul{
  list-style: none;
  flex-direction: row;
  padding: 0;
  margin: 0;
  gap: 5px;
}

.nav-li > a{
  padding: 0px 5px;
  text-decoration: none;
  font-weight: lighter;
  letter-spacing: 10px;
  font-size: 12px;
  color: #366284;
  mix-blend-mode: multiply;
}

img{
  width: 50px;
}

.homepage-header{
  text-align: center;
  padding: 2vw;
  padding-right: 0px;
  background: none;
}
/* Footer */
footer{
  background-color: #536F8A;
  padding:40px;
  color: White;
}

footer > *{
  text-align: center;
  font-weight: lighter;
  font-size: 12px;
  margin: 0;
}

/* Quiz Page Styling */
div > section > button > * {
  color: white;
}
.small-button{
  background-color: #6e9173;
  color: white;
}
#question-container {
  text-align: center;
}
.guide-container{
  box-sizing: border-box;
  padding: 20px;
  flex-direction: row;
  max-width: 80%;
  align-self: center;
}
.tea-guide{
  max-width: 800px;
  align-self: center;
  padding: 0px 40px;
}
.tea-guide > p {
  color:#536F8A;
  text-align: left;
}
.menu{
  max-height: 25px;
  overflow-y: scroll;
  font-size: 20px;
  padding: 0;
  text-align: center;
  margin: 10px 0px;
}
.menu > li{
  list-style: none;
}
.menu > li > a{
  text-decoration: none;
  color: #536F8A;
  font-size: 16px;
  letter-spacing: 10px;
}

main{
  min-height: calc(100vh - 103px );
  padding: 20px;
}

/* Breakpoints: currently for desktop */
@media only screen and (min-width: 500px){

  nav.flex{
    flex-direction: row;
    justify-content: space-between;
  }

  .nav-ul{
    gap:30px;
  }

  h2{
    letter-spacing: 0.25vw;
  }
  p{
    font-size: 14px;
    text-align: center;
  }

  .guide-container{
    flex-direction: column;
    padding: 20px;
  }
}
